In [12]:
import pandas as pd

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [19]:
df = pd.read_csv('dataKasus-1.csv')

In [23]:
df_cleaned = df.drop (columns=['NO','NAMA','SOSEK RENDAH'])

In [24]:
df.head()

,NO,NAMA,USIA,PARITAS,JARAK KELAHIRAN,RIW HIPERTENSI,RIW PE,OBESITAS,RIW DM,RIW HIPERTENSI/PE DALAM KELUARGA,SOSEK RENDAH,PE/Non PE,Unnamed: 12
0,1,NAMA 1,23 TH,3,< 2 tahun,Tidak,Tidak,Tidak,Ya,Tidak,>UMR,Non PE,NaN
1,2,NAMA 2,29 TH,2,< 2 tahun,Tidak,PEB,Tidak,Tidak,Ada,>UMR,PE,NaN
2,3,NAMA 3,20 TH,1,anak pertama,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
3,4,NAMA 4,18 TH,1,anak pertama,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
4,5,NAMA 5,34 TH,3,> 2 tahun,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN

In [25]:
print(df_cleaned.head())

    USIA  PARITAS JARAK KELAHIRAN RIW HIPERTENSI RIW PE OBESITAS RIW DM  \
0  23 TH        3       < 2 tahun          Tidak  Tidak    Tidak     Ya
1  29 TH        2       < 2 tahun          Tidak    PEB    Tidak  Tidak
2  20 TH        1    anak pertama          Tidak  Tidak    Tidak  Tidak
3  18 TH        1    anak pertama          Tidak  Tidak    Tidak  Tidak
4  34 TH        3      > 2 tahun           Tidak  Tidak    Tidak  Tidak

  RIW HIPERTENSI/PE DALAM KELUARGA PE/Non PE Unnamed: 12
0                            Tidak    Non PE         NaN
1                              Ada        PE         NaN
2                            Tidak    Non PE         NaN
3                            Tidak    Non PE         NaN
4                            Tidak    Non PE         NaN